html {
	background: gray;
}

body {
	background-color: #fdfdfd;
	padding: 2cm 1.5cm;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 21cm;
	font-family: arial, sans-serif;
}

a {
	color: inherit;
	font-weight: bold;
}

a:hover {
	color: #666;
}

h1, h2, h3, h4 {
	color: #0B3861;
	font-weight: bolder;
	clear:both;
}

h1, h2 {
	text-align: center;
}

h3 {
	margin-top: 2em;
	margin-bottom: 0em;
}

div+h3 {
	margin-top: 5em;
}

h4{
	margin-bottom: 0em;
}

div.table {
	margin-bottom: 1.5em;
	font-weight: bold;
}

div.entry {
	margin-left: 30px;
	font-weight: normal;
}

div.entry span {
	float: right;
}

div.box {
	border: 1px solid black;
	clear: both;
}

.box>div:first-child{
	background-color: lightgray;
	padding: 2px 5px;
	font-weight: bold;
}

.box>div:nth-child(2) {
	padding: 25px 50px;
	font-weight: bold;
}

.box>div:nth-child(2) div {
	margin-left: 40px;
	font-weight: normal;
}

.box>div:nth-child(2) p {
	margin-left: 40px;
	font-weight: normal;
	font-style: italic;
}

table.json {
	margin-left: 40px;
}

.json td {
	padding-right: 20px;
}

.todo {
	background-color: yellow;
}

p {
	margin: 0px;
}

table.object {
	float: left;
	border: 1px solid black;
	margin: 20px 30px;
	border-collapse: collapse;
}

.object td, .object th {
	padding: 1px 5px;
	vertical-align: top;
}

.object ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	font-style: italic;
}

.object tr {
	border: 1px dashed gray;
}

.object tr td:first-child {
	padding-right: 25px;
}

.object tr:first-child th{
	background: lightgray;
	border: 1px solid black;
}

.object tr td:first-child {
	color: #0B3861;
	font-weight: bold;
}

.object tr:last-of-type th {
	text-align: left;
	font-style: italic;
	border-top: 1px solid black;
	font-weight: normal;
	color: inherit;
}