<div class='modal fade' id='myModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'></div>
      <div class='equidistant modal-body'></div>
      <div class='modal-footer'>
        <button type='button' class='cancel btn btn-default' data-dismiss='modal'>Cancel</button>
        <button type='button' class='select btn btn-primary' data-dismiss='modal'>Select</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->