html {
  background: brown;
}

#app {
  background: orange;
  width: 800px;
  min-height: 600px;
  margin: auto;
  font-family: arial;
  padding: 10px;
}


/* OVERWRITE BOOTSTRAP */
.modal-footer {
    margin-top: 0px;
}

/* http://stackoverflow.com/questions/7245018/how-to-evenly-distribute-elements-in-a-div-next-to-each-other */
div.equidistant {
    width:100%;
    display: table;
    table-layout: fixed;    /* For cells of equal size */
  
    span {
        display: table-cell;
        text-align: center;    
    }
}

#opponents {
    > div {
        width:100%;
        display: table;
    }
    
	.opponent {
		background: green;
		// width: 20%;
		display: inline-block;
		font-size: 0.5em;
		border: 2px solid black;
        display: table-cell;
	}
}

.opponent {
	h1 {
		text-align: center;
		height: 1.5em;
		overflow: hidden;
		
		img {
			vertical-align: text-top;
			height: 4em;
		}
	}

	.stats {
		.gold {
			
		}
		
		.gold:before {
			content: "Gold: ";
			font-weight: bold;
		}
		
		.points {
			margin-left: 2em;
		}
		
		.points:before {
			content: "Points: ";
			font-weight: bold;
		}
	}
	
	.hand {
		height: 8em;
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;
		text-align: center;
		
		.card {
			height: 100%;
		}
	}
	
	.city {
		text-align: center;
	
		.card {
			width: 10%;
		}
	}
}

.card {
	margin: 0 -1em;
    border-radius: 0.5em;
}

.player {
    
    .city {
        background: gray;
        text-align: center;
        
        .card {
            height: 100px;
        
        }
    }
    
    .hand {
        position: fixed;
        bottom: 10px;
        left: 0px;
        width: 100%;
        text-align: center;
        height: 150px;
        
        .card {
            height: 100%;
            
        }
    }
}

.option {
    border: 2px solid #00ff00;
}