html {
  margin: 0;
  font-family: sans-serif;
  background: black;
  width: 100%; }

body {
  margin: 0 auto;
  background: white;
  width: 1080px;
  min-height: 600px; }

section {
  display: none;
  margin: 10px; }

header {
  background: black;
  color: white; }
  header h1 {
    text-align: center;
    margin: 0; }

nav {
  background: #333333;
  color: white;
  text-align: center; }
  nav ul {
    margin: 0;
    padding: 0;
    display: inline-block; }
    nav ul li {
      display: inline-block; }
      nav ul li button {
        width: 200px; }
