<article id='app'>
    <nav id='infobar'>    
        <div class='current_player'>
            afk
            <img class='icon' 
                 src='img/merchant_icon.png' />
        </div>
        <div class='status_message'>
            mis is in turn - 
            <span style='color: darkblue'>
                revealed bishop
            </span>
        </div>
        <div class='status_values'>
            <div class='gold'>
                10
                <img class='icon' 
                     src='img/two_coins.png' />
            </div>
            <div class='points'>
                4
                <img class='icon' 
                     src='img/points.png' />
            </div>
        </div>    
    </nav>             
    <div id='content' class='row'> <!--todo: remove this div-->
        <section id='board'>
            <div id='opponents' class='row'></div>
            <div id='board_center' class='row'>
                <div class='gold'>
                    <img src='img/many_coins.png' />
                </div>
                <div class='deck'>
                    <img class='card'
                         src='img/facedown2.png' />
                </div>
            </div>
            <div id='board_player' class='row'>
                <div class='city'></div>
                <div class='col-xs-6 text-center'>
                    <div class='hand'></div>
                </div>
            </div>
        </section>
        <aside id='sidebar'>
            <div id='scoreboard'></div>                    
            <div id='terminal'>
                <ul>
                    <li>terminal for messages</li>
                    <li>for a start: afk is in turn, 
                        mis takes gold, 
                        rko build cathedral, 
                        turing wins ect.</li>
                    <li>in future, colors could be used to
                        indicate <span style='color:yellow;'>king</span>,
                        <span style='color:blue;'>bishop</span>,
                        <span style='color:green'>merchant</span>,
                        <span style='color:red'>warlord</span>
                        and the district 
                        <span style='color:yellow;'>t</span>
                        <span style='color:blue;'>?</span>
                        <span style='color:green;'>p</span>
                        <span style='color:red;'>e</span>
                        <span style='color:purple;'>s</span>.</li>
                    <li>Maybe a chat could be useful some day?</li>
                    <li>Or a little script language (js?) for interaction with the game or for cheats.</li>
                    <li>Muhahaha</li>
                    <li>tugend: I've got a baaad feeling about this :-/</li>
                    <li>foo</li>
                    <li>bar</li>
                    <li>more foo</li>
                    <li>more bar</li>
                </ul>
            </div>
        </aside>
    </div>
</article>