<div class='opponent'>
    <div class='row'>
        <div class='info'>
            <div class='pid'>{{username}}</div>    
            <div class='token'>
                {{#character}}
                <img src='img/{{character}}.png' 
                     class='img-circle' />
                {{/character}}
            </div>
        </div>
        <div class='hand'>
            <div class='card-overlay'>{{handno}}</div>
            <img class='card'
                 src='img/facedown2.png'/>
        </div>
    </div>
    <div class='row'>
        <div class='districts'></div>
    </div>
</div>