<div>
    <button type='button' class='skip_character_select_btn btn btn-success' style='width:250px'>
        skip character selection
    </button>
    <br /><br />
    <button type='button' class='warlord_turn_btn btn btn-success' style='width:250px'>
        skip to destroy ability test
    </button>
    <br /><br />
    <button type='button' class='magician_turn_btn btn btn-success' style='width:250px'>
        skip to magician ability test
    </button>
    <br /><br />
    <button type='button' class='reset_btn btn btn-danger' style='width:250px'>
        Reset Game
    </button>
</div>