@import "../../vendors/bootstrap-sass/bootstrap";

// VARIABLES
$boardgreen   : #33CC33;
$infobargreen : #003300;

$app_width: 1366;
$app_height: 768;
$infobar_height: 37;
$board_height: #{($app_height)-($infobar_height)};

$board_opponents_height: 45%;
$board_center_height: 20%;
$board_player_height: 35%;

$scoreboard_height: 30%;
$terminal_height: 70%;
///////////////////////////////////////

// MIXINS
@mixin rotate($deg) {
    $xaxis : 50%;
    $yaxis : 50%;
    -webkit-transform-origin: $xaxis $yaxis;
    -webkit-transform: rotate( $deg * 1deg) translate3d(0,0,0);   
}

.card:not([src*="facedown"]):hover {
    border: 2px solid darkgray;
    border-radius: 10px;
    cursor: pointer; 
}
.gold:hover, .deck:hover {
    cursor: pointer;   
}

.grayscale {
    opacity: 0.2; 
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    &:hover {
        border: none !important;
        border-radius: 0px;
        cursor: auto;
    }
}

.icon {
    height: 25px;
    width: 25px;
    margin-left: 5px;
    margin-right: 5px;
}


// SPECIFIC ELEMENTS
html, body {
    background: black;
}

#app {
    height: #{$app_height}px !important;
    width: #{$app_width}px !important;
    @extend .container;
}

#infobar {
    height: #{$infobar_height}px;
    background: $infobargreen;
    color: white;
    font-size: 20pt;
    @extend .navbar-inverse; 
    @extend .navbar-default;
    @extend .navbar-static-top;
    @extend .row;

    .current_player {
        font-weight: bold;
        @extend .col-xs-2;
    }
    
    .status_message {
        @extend .col-xs-4;
    }
    
    .status_values {
        text-align: right;
        @extend .col-xs-4;
        @extend .col-xs-offset-2;
        
        .gold {
            padding: 0px;
            @extend .col-xs-3;
            @extend .col-xs-offset-7;
        }
        .points {
            padding: 0px;
            @extend .col-xs-2;
        }   
    }
}

#content {
    height: #{$board_height}px;
}

#board {
    background: $boardgreen;  
    height: 100%;
    padding: 30px;
    @extend .col-xs-9;
    
    #opponents {
        height: $board_opponents_height;
        margin-left: 39px; /* centers board content */
    }
    
    .opponent { 
        padding-right: 10px;
        @extend .col-xs-4;
        
        .info {
            @extend .col-xs-2;
        }
        
        .hand {
            @extend .col-xs-10;  
        }
        
        .pid {
            text-align: center;   
        }
        
        .token img {
            width: 30px;   
        }
        
        .hand .card {
            width: 45px;   
        }
        
        .districts .card {
            width: 65px;
        }
         
        .hand .card, .opponent_info {
            width: 45px;   
            float: left;  
            text-align: center; /*also hits images*/
        }
        
        .districts {
            width: 274px; /* MAGIC! */
            height: 209PX; /* MAGIC! */
            margin-top: 10px;
        }  
        
        .districts {
            .card:nth-child(1), 
            .card:nth-child(2), 
            .card:nth-child(3),
            .card:nth-child(4) {
                margin-bottom: 5px;
            }
        }

//        &:nth-child(1) {
//            top: 23px;
//            @include rotate(-10);
//        }
//
//        &:nth-child(3) {
//            top: 30px;
//            @include rotate(10);
//        }
    }
}

#board_player {
    height: $board_player_height;
    background: $boardgreen;
    margin-left: 39px; /* centers board content */
    
    .districts {
        width: 36%;
        float: left;  
    }
    
    .districts .card {
        width: 80px;   
        margin-bottom: 5px
    }
    
    .hand {
        top: 10px;
        right: 30px;
        float: right;
        position: relative;
    }
    
    .hand .card {
        width: 100px;
        margin-bottom: 5px;
    }
    
}

#board_center {
    height: $board_center_height;
    width: 200px;
    margin: auto;
    
    .gold img, .deck img {
        width: 75px;
    }
    
    .gold {
        float: left;
        padding-top: 21px;    
    }
    
    .deck {
        float: right;    
    }   
}   


#sidebar {
    padding: 0px;
    background: lightgrey;
    height: 100%;
    @extend .col-xs-3;
    
    #scoreboard {
        font-size: 20px;
        padding: 20px 0 20px;
        height: $scoreboard_height;
        
        table {
            vertical-align: middle;
            width: 100%;
        } 
        
        td, th {
            text-align: center; 
            vertical-align: middle;
        }
        
        // first column
        th:nth-child(2), td:nth-child(2) {
            text-align: left;
        }
    
        tr.me {
            font-weight: bold;
        }
    
        tr.current_player {
            color: red;
        }
    }
    
    #terminal {
        color: lightgray;
        background: black;
        opacity: 0.7;
        height: $terminal_height;
        padding: 20px 10px 0px;
        &::-webkit-scrollbar { width: 0 !important }
        overflow-y: scroll;
        
        ul {  
            list-style: none;
            li {
                text-indent:-10px;
                padding-bottom: 10px;
                font-family: "Lucida Console";
                &:before {
                    content: ">";        
                    position: relative; left:-15px;
                }
            }
        }
    }
}
