@import "../../vendors/bootstrap-sass/bootstrap";

// VARIABLES
$boardgreen   : #33CC33;
$infobargreen : #003300;

$app_width: 1366;
$app_height: 768;
$infobar_height: 37;
$board_height: #{($app_height)-($infobar_height)};

$board_opponents_height: 35%;
$board_center_height: 20%;
$board_player_height: 45%;

$scoreboard_height: 30%;
$terminal_height: 70%;
///////////////////////////////////////

// MIXINS
@mixin rotate($deg) {
    $xaxis : 50%;
    $yaxis : 50%;
    -webkit-transform-origin: $xaxis $yaxis;
    -webkit-transform: rotate( $deg * 1deg) translate3d(0,0,0);   
}

@mixin card_overlap($dist) {
    @for $i from 0 through 10 {
        img:nth-child(#{$i}) {
            z-index: $i;  
            left: ($i - 1) * $dist * 1px; 
        }            
    }
}

// INDEPENDENT CLASSES
// disable responsive layout
.icon {
    height: 25px;
    width: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

// SPECIFIC ELEMENTS
html, body {
    background: black;
}

#app {
    height: #{$app_height}px !important;
    width: #{$app_width}px !important;
    background: blue;   
    @extend .container;
}

#infobar {
    height: #{$infobar_height}px;
    background: $infobargreen;
    color: white;
    font-size: 20pt;
    @extend .navbar-inverse; 
    @extend .navbar-default;
    @extend .navbar-static-top;
    @extend .row;
        
    .current_player {
        font-weight: bold;
        @extend .col-xs-2;
    }
    
    .status_message {
        @extend .col-xs-4;
    }
    
    .status_values {
        text-align: right;
        @extend .col-xs-4;
        @extend .col-xs-offset-2;
        
        .gold {
            padding: 0px;
            @extend .col-xs-3;
            @extend .col-xs-offset-7;
        }
        .points {
            padding: 0px;
            @extend .col-xs-2;
        }   
    }
}

#content {
    height: #{$board_height}px;
}

#board {
    background: $boardgreen;  
    height: 100%;
    @extend .col-xs-9;
    padding: 30px;
//    padding-top: 20px;
         
    #opponents {
        height: $board_opponents_height;
    }

    .opponent { 
        
        .hand, .districts {
            background: blue;
            border: 1px solid red;
            text-align: center; /*also hits images*/
        }
        
        .hand {
            padding-right: 16.66667%; // col-xs-2: width  
        }
        
        .districts {
            @include card_overlap(30);   
        }
        
        // PLAYER 1
        &:nth-child(1) { 
//            position: relative;
//            left: 45px;
//            @include rotate(-30);
        }
        
        // PLAYER 2
         &:nth-child(2) { 
//            position: relative;
//            left: 22.5px; 
        }
        
        // PLAYER 3
        &:nth-child(3) { 
//            position: relative;
//            left: 30px; 
//            top: 80px;
            //@include rotate(30);
        }
        
        .pid {
//            margin-bottom: 10px;   
        }
        
        .districts {
//            padding: 0px;
//            margin-top: 20px;  
//            margin-left: 1px;
             
            .card {
                width: 65px;
            }
            
            @include card_overlap(30);
        }
         
        .hand {            
            @include card_overlap(15);
        }
    }
    
    #board_player {
        height: $board_player_height;
        background: $boardgreen;
//        padding-top: 85px;
//        padding-left: 20px;
        
        .card {
            width: 100px;   
            margin-bottom: 5px
        }
    }
    
    #board_center {
        height: $board_center_height;
        width: 200px;
        margin: auto;
    
        .gold {
            padding-top: 21px;    
        }
    }   
}

#sidebar {
    padding: 0px;
    background: lightgrey;
    height: 100%;
    @extend .col-xs-3;
        
    #scoreboard {
        font-size: 20px;
        padding: 20px 0 20px;
        height: $scoreboard_height;
                        
        table {
            vertical-align: middle;
            width: 100%;
        } 
        
        td, th {
            text-align: center; 
            vertical-align: middle;
        }
        
        // first column
        th:nth-child(2), td:nth-child(2) {
            text-align: left;
        }
        
        tr.me {
            font-weight: bold;
        }

        tr.current_player {
            color: red;
        }
    }

    #terminal {
        color: lightgray;
        background: black;
        opacity: 0.7;
        height: $terminal_height;
        padding: 20px 10px 0px;
        &::-webkit-scrollbar { width: 0 !important }
        overflow-y: scroll;
         
        ul {  
            list-style: none;
            li {
                text-indent:-10px;
                padding-bottom: 10px;
                font-family: "Lucida Console";
                &:before {
                    content: ">";        
                    position: relative; left:-15px;
                }
            }
        }
    }
}
